{% extends 'base.html.twig' %}

{% block title %}Edit Rapport{% endblock %}

{% block body %}
    <a class="btn btn-outline-secondary" href="{{ path('rapport_index') }}">Retour à la liste des rapports</a>
    <h1 class="mb-4 mt-2">Modifier le rapport</h1>

    {{ include('rapport/_form.html.twig', {'button_label': 'Enregistrer'}) }}

{% endblock %}
