{% extends 'base.html.twig' %}

{% block title %}Visiteur index{% endblock %}

{% block body %}
    <h1>Suivi des visiteurs</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Nom</th>
                <th>Prenom</th>
                <th>Nombre de rapports</th>
            </tr>
        </thead>
        <tbody>
        {% for visiteur in visiteurs %}
            <tr>

                <td>{{ visiteur.nom }}</td>
                <td>{{ visiteur.prenom }}</td>
                
                <td>{{ visiteur.id }}</td>
                <td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('visiteur_new') }}">Create new</a>
{% endblock %}
